---
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import Welcome from "../components/Welcome.astro";
---

<Layout title="FernaKasa">
  <section id="welcome" class="scroll-mt-24 mb-16">
    <Welcome />
  </section>

  <section id="experience" class="scroll-mt-24">
    <Experience />
  </section>

  <section id="projects" class="scroll-mt-24">
    <Projects />
  </section>

  <section id="skills" class="scroll-mt-24 mb-16">
    <Skills />
  </section>

  <section id="about" class="scroll-mt-24 mb-16">
    <About />
  </section>
</Layout>
