<a
  {...Astro.props}
  class="bg-gray-800 hover:bg-gray-900 text-white px-2 py-1 rounded-lg text-sm flex items-center gap-1 transition my-2"
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
